<div class="row">
  <div class="col-lg-6 offset-lg-3">
      <h3 class="text-center">
          Cambiar Contraseña
      </h3>
      <div class="text-center">
        <app-loading *ngIf="loading"></app-loading>
      </div>
      <form [formGroup]="form" (ngSubmit)="guardarPassword()" style="padding-top: 10px;">
          <div class="form-group">
              <input type="password" class="form-control" placeholder="Contraseña Anterior" formControlName="oldPassword"
              [ngClass]="{ 'is-invalid': f['oldPassword'].touched && f['oldPassword'].errors }">
              <div *ngIf="f['oldPassword'].touched && f['oldPassword'].errors">
                <div *ngIf="f['oldPassword'].errors['required']">Contraseña es requerida</div>
                <div *ngIf="f['oldPassword'].errors['minlength']">
                  Contraseña mínima de 6 caracteres
                </div>
                <div *ngIf="f['oldPassword'].errors['maxlength']">
                  Contraseña máxima de 40 caracteres
                </div>
              </div>
          </div>
          <div class="form-group">
              <input type="password" class="form-control" placeholder="Nueva Contraseña" formControlName="newPassword"
              [ngClass]="{ 'is-invalid': f['newPassword'].touched && f['newPassword'].errors }">
              <div *ngIf="f['newPassword'].touched && f['newPassword'].errors">
                <div *ngIf="f['newPassword'].errors['required']">Contraseña es requerida</div>
                <div *ngIf="f['newPassword'].errors['minlength']">
                  Contraseña mínima de 6 caracteres
                </div>
                <div *ngIf="f['newPassword'].errors['maxlength']">
                  Contraseña máxima de 40 caracteres
                </div>
              </div>
          </div>
          <div class="form-group">
              <input type="password" class="form-control" placeholder="Repetir Contraseña" formControlName="confirmPassword"
              [ngClass]="{ 'is-invalid': f['confirmPassword'].touched && f['confirmPassword'].errors }">
              <div *ngIf="f['confirmPassword'].touched && f['confirmPassword'].errors" >
                <div *ngIf="f['confirmPassword'].errors['required']">
                  Contraseña es requerida
                </div>
                <div *ngIf="f['confirmPassword'].errors['matching']">
                  Contraseña no coincide
                </div>
              </div>
          </div>
          <div class="col text-center">
              <button class="btn btn-primary mr-2 btn-acep" [disabled]="form.invalid">Aceptar</button>
              <button class="btn btn-secondary" routerLink="../">Volver</button>
          </div>
      </form>
  </div>
</div>
